/*

 b6m css

 Copyright (C) 2008-2012 Simó Albert i Beltran

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.

 Version 0.3.20120302.1.1

*/
body
{
	margin: 0px;
}

.olControlPanel
{
	top: 0;
	right: 0;
	position: absolute;
}

.olControlPanel div
{
	width:  18px;
	height: 18px;
	margin-top: 8px;
	margin-right: 8px;
}

.olControlScaleLine
{
	bottom: 30px;
}

.olControlMousePosition
{
	right: auto;
	left: 5px;
}

.olImageLoadError
{
    opacity: 0 !important;
}

.pauseButtonItemInactive
{
	background-image: url("img/pause.png");
}

.playButtonItemInactive
{
	background-image: url("img/play.png");
}

#b6mSplash
 {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	color: white;
	background-color: black;
	z-index: 1000;
	opacity: 0.5;
}

#b6mSplash a
{
	color: white;
}

#loadingmap {
	position: absolute;
	left: 4em;
	top: 4em;
	z-index: -1;
}
